
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="kourda">
    <title>{% block title %}السَّلَامُ عَلَيْكُم{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('css/FreeIsalamicTemplate/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/FreeIsalamicTemplate/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/FreeIsalamicTemplate/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('css/FreeIsalamicTemplate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/FreeIsalamicTemplate/main.css') }}" rel="stylesheet">
    <link  href="{{ asset('css/calander/calendar.css') }}"  rel="stylesheet" media="screen">
    <link href="{{ asset('css/app/IFtar.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap/bootstrap3_3_7.min.css') }}" rel="stylesheet">
    <!--link href="{{ asset('css/jqueryMobile/jquery.mobile-1.4.5.min.css') }}" rel="stylesheet"-->




    <link rel="shortcut icon" href="{{ asset('images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }} ">
    <script src="{{ asset('js/jquery/jquery_3_2_0.js') }}"></script>
    <!--script src="{{ asset('js/jquery/jquery.min.js') }}"></script-->

    <!--script src="{{ asset('js/jquery/mobile/jquery.mobile-1.4.5.min.js') }}"></script-->

    <script src="{{ asset('js/bootstrap/bootstrap_3_3_7.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>


</head>
<body>
<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class=" col-xs-4">
                    <div class="top-number"><p><i class="fa fa-phone-square"></i> +0123 456 70 90</p></div>
                </div>
                <div class=" col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <div class="search">
                            <form role="form">
                                <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('i_ftar_homepage') }}">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li class="active"><a href="{{ path('i_ftar_get_prayers') }}">Prayers</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>
{% block body %}
    {% block javascript %}{% endblock %}
{% endblock %}
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2014 <a target="_blank" href="https://freeislamictemplates.appspot.com/" title="Free Islamic Templates">Free Islamic Templates</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{{ path('i_ftar_homepage') }}">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="{{ path('i_ftar_get_prayers') }}">Prayers</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


{% block javascripts %}{% endblock %}


<script type="text/javascript" src="http://www.gebetszeiten.de/widget/prayersTodayJs?location_id=169213" />


<script src="{{ asset('js/jquery/jquery.js') }}"></script>

<script src="{{ asset('js/FreeIsalamicTemplate/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.prettyPhoto.js') }}"></script>
<script src="{{ asset('js/jquery/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('js/FreeIsalamicTemplate/main.js') }}"></script>
<script src="{{ asset('js/FreeIsalamicTemplate/wow.min.js') }}"></script>
<script src="{{ asset('js/calander/jquery-ui-datepicker.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/app/IftarBundleScript.js') }}"></script>


</body>
</html>






